@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    box-sizing: border-box;
}
 
/*
BASE (MOBILE) SIZE
These are the mobile styles. It's what people see on their phones.
Remember, keep it light: Speed is Important.
*/

:root{
    --sidebar-width: calc(100% / 4);
    --content-width: calc(100% - var(--sidebar-width));

    --font-sidebar: 'Noto Sans', sans-serif;

    --background-content: #FFFFFF;
    --background-sidebar: #2B2D42;
    
    --color-yellow: #F8F32B;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-primary: #2B2D42;
    --color-secondary: #8D99AE;
    
}

/*
LARGER MOBILE DEVICES
This is for mobile devices with a bit larger screens.
*/
@media only screen and (min-width: 481px) {
}

/*
TABLET & SMALLER LAPTOPS
The average viewing window and preferred media query for those is 768px.
But I think that some more breathing space is good:)
*/
@media only screen and (min-width: 920px) {
}

/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
    html, body{
        width: 100%;
        height: 100%;
    }

    .container{
        display: flex;
        align-items: stretch;
    }
    .sidebar{
        position: relative;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        width: var(--sidebar-width);

        background-image: url('/assets/images/jena-goega.jpg');
        background-size: cover;
        background-color: #444;
        background-blend-mode: multiply;

        color: var(--color-white);
        text-transform: uppercase;
        font-family: var(--font-sidebar);
    }

    .sidebar-header{
        text-align: center;
        padding: 32px 16px 16px 16px;
    }
    .sidebar-header h2{ margin-bottom: 0;}
    .sidebar-header h3{
        font-size: medium;
        font-weight: 100;
        margin-top: 8px;
    }
    .sidebar-profile-image{
        background-image: url('/assets/images/profile-picture.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        width: 160px;
        height: 160px;
        border-radius: 128px;

        margin: 16px auto;
    }

    .sidebar-menu{

    }

    .sidebar-menu ul{
        list-style-type: none;
        padding: 0;
    }

    .sidebar-menu ul li{
        cursor: pointer;
        padding: 8px;
        color: #CCCCCC;
    }

    .sidebar-menu ul li:hover{
        color: #FFFFFF;
    }

    .sidebar-footer{}

    .social-media-buttons a{
        color: var(--color-secondary);
    }
    .social-media-buttons a:hover{
        color: var(--color-white);
    }

    .social-media-buttons ul {
        list-style: none;
    }
    .social-media-buttons{
        font-size: x-large;
    }

    .content{
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        width: var(--content-width);
        padding: 32px;

        font-family: var(--font-sidebar);
        background-color: var(--background-content);
    }
    .content h1{
        text-transform: uppercase;
    }
    .portfolio{

    }
    .skillset{}

    .contact-me{}
    .contact-me-form{
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .contact-me-form button{
        background-color: var(--color-primary);
        color: #CCCCCC;
        border: 0;
        padding: 12px;
    }

    .contact-me-form button:hover{
        color: var(--color-white);
        cursor: pointer;
    }

    .input-group{
        border: 1px solid #ccc;
        position: relative;
        margin: 8px 0;
    }
    .input-group input, .input-group textarea{
        border: none;
        outline: 0;
        width: 100%;
        font-size: 16px;
        padding: 16px 10px 10px;
    }
    .input-group label{
        font-size: 16px;
        position: absolute;
        transform: translate(0, 16px) scale(1);
        transform-origin: top left;
        transition: all .1s ease-in-out;
        margin-left: 10px;
    }
    .input-group.active label{
        transform: translate(0, 4px) scale(.75);
    }
    .input-group textarea{
        resize: none;
    }

    .scrollup{
        position: fixed;
        right: 10%;
        bottom: 1%;
    }
    .scrollup button{
        background-color: var(--color-primary);
        color: white;
        border: 0;
        padding: 8px 16px;
        cursor: pointer;
    }
}

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
}

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
}

/*
PRINT STYLESHEET
*/
@media print {
}